			body {
				width: 99.9%;
				font-size: 100%;
				font-family: "Courier New", Courier, monospace;
				letter-spacing: 0.15em;
				background-image: url("/dark.jpg");
				margin: 0% auto;}
			#content {
				overflow: auto;}
			h1, h3 {
				margin: 15px;
				color: #ffffff;}
			h2 {
				margin: 10px;
				color: #ffffff;}
			ul {
				color: #ffffff;
				font-size: 18px;}
			ol {
				margin: 15px;
				color: #ffffff;
				font-size: 18px}
			.column1of2, .column2of2 {
				width: 45%;
				float: left;
				margin: 1%;}
			.p {
				color: #ffffff;
				font-size: 18px;}
			.credits {
				text-align: center;
				color: #ffffff;
				font-size: 18px;
				margin: 20px;}